/* Paleta de colores */
:root {
    --dark-red: #350a06;
    --deep-red: #56070c;
    --rust-red: #8f3d38;
    --light-gray: #e1d9d9;
    --off-white: #f6f1f1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    color: var(--dark-red);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:100px 7fr 200px ;
    grid-template-areas:
    'header'
    'main'
    'footer'
    ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--deep-red);
    color: var(--off-white);
    grid-area: header;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: var(--off-white);
    text-decoration: none;
}

.main {
    display: grid;
    align-items: center;
    grid-template-rows: auto 1fr;
    gap: 20px;
    grid-area: main;

}

.master {
    font-size: x-large;
    background: url('img/background_enotech_banner.jpg') no-repeat center center/cover;
    color: var(--dark-red);
    text-align: left;
    font-size: xx-large;
    padding: 50px 20px;

}

.logo{
    max-width: 180px;
    max-height: 100px;
}

.content {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* gap: 20px; */
    padding: 20px;
    text-align: left;
}

footer {
    background-color: var(--rust-red);
    color: var(--light-gray);
    text-align: center;
    padding: 10px;
    grid-area: footer;

}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    header, .master, .content {
        text-align: center;
    }

    header nav ul {
        padding: 0;
    }
    header {
        flex-wrap: wrap;
        justify-content:center;

    }

    body {

    grid-template-rows:1fr auto 1fr ;


    }


}

@media (max-width: 480px) {
    header nav ul li {

        margin: 10px 0;
    }
      ul{

        flex-direction: column;
    }
    .header{
        flex-direction: column;
    }


}

li{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    transition:  transform 0.2s ease-in-out;



}

li:hover {

    background-color:#e21a10 ;
    border: var(--light-gray) 1px solid;
    transform: scale(1.2);
    box-shadow: 0 0 20px #f8645d;;

}

/* ////////////Estilos de consulta de API/////////// */
#catalogo {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#catalogo>h2 {
    display: inline;
    width: 100%;
}

.catalogo-info {
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    background: #e0e0e0;
    box-shadow: -25px 25px 50px #bebebe,
        25px -25px 50px #ffffff;

}

.catalogo-info>img {
    height: 150px;

}




